.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}
.stretchy_wrapper {
    width: 100% !important;
    padding-bottom: 60% !important;
    position: relative !important;
    overflow: hidden !important;
    height: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block
}




















   

    








